:root {
  --main-blue-color: #242c40;
  --main-white-color: #f4f4f4;
  --them-pink-color: #d78b9f;
  --them-orange-color: #e29c4d;
  --them-light-green-color: #7fab98;
  --them-green-color: #3a5d4c;
  --them-green-light-color: rgb(61, 111, 87);
}
