:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: black !important;
  color: black !important;
  background-color: transparent !important;
  box-shadow: 0 0 0px 1000px transparent inset !important;
  background-clip: content-box !important;
  transition: background-color 9999999s ease-in-out 0s !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.tooltiptext::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent rgb(255, 255, 255) transparent transparent;
}

.form-shadow {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.3);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
.hide-scrollbar {
  scrollbar-width: none; /* Hides the scrollbar */
  -ms-overflow-style: none; /* For Internet Explorer 10+ */
}

.animate-spin-smooth {
  animation: spin 1.4s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite;
}
.epr-category-nav {
  display: none !important;
}
.epr-emoji-img {
  width: 35px !important;
  height: 35px !important;
  min-width: 35px !important;
  max-height: 35px !important;
  object-fit: contain;
}
.animate-fadeIn {
  animation: fadeIn 0.8s ease forwards;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-shimmer {
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
}
